
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <p>You're logged in as admin.</p>

    <h2>Students</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Quizzes</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>Number of Questions</th>
            <th>Quiz Date</th>
        </tr>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz[0] }}</td>
            <td>{{ quiz[1] }}</td>
            <td>{{ quiz[2] }}</td>
            <td>{{ quiz[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/student/add">Add Student</a><br>
    <a href="/quiz/add">Add Quiz</a><br>
    <a href="/results/add">Add Quiz Result</a><br>
</body>
</html>
